img{
    height:50%;
    width:100%;
  }

  div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  .card{
    transition:0.5s;
    cursor:pointer;
  }
  .card-title{
    font-size:10px;
    transition:1s;
    cursor:pointer;
  }
  .card-title i{
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg);
    color:#18d4ca;

  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  }
  .card-text{
    height:80px;
  }

  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

  .card-title {
    text-align: center;
}

.card-text {
    text-align: initial;
    padding-left: 10px;   /* Adds space on the left side */
    padding-right: 10px;  /* Adds space on the right side */
}

.image-container {
    width: auto;         /* Set width for the square container */
    height: auto;        /* Make height equal to width for a square */
    overflow: hidden;     /* Hide overflow to ensure the image fits */
    border: 2px solid #ccc;  /* Optional: Add a border around the container */
    display: flex;        /* Center image within container */
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;          /* Make image take full width of container */
    height: auto;         /* Maintain aspect ratio */
    object-fit: cover;    /* Crop the image to fit within the square */
}

.upload-card {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.upload-card:hover {
    background-color: #f0f0f0; /* Change to your desired hover color */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

